# Canoniek domein (zonder slash aan het eind)
PUBLIC_SITE_URL=https://allesberekenen.be
PUBLIC_CONTACT_EMAIL=contact@allesberekenen.be
# Analytics: laat leeg om niets te laden
PUBLIC_GTM_ID=
PUBLIC_GA4_ID=
PUBLIC_GSC_VERIFICATION=
